* {
	margin: 0;
	padding: 0;
}


.parent {
	
	position: relative;
	background-image: url(images/fon.jpg);
	font-family: "Helvetica Neue";
	height: 1064;
	width: 1215;
	/*margin-left: 100px;*/
	margin: 0 auto;

}


    .cad {
	position:absolute;
	left: 0 auto;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	
}
.flag {
		position: absolute;
        top: 8px;
        left: 870px;
		z-index: 5;
		
	}
	
	 div p{
		 
		position:absolute;
		left: 350px;;
        top: 250px;
		width: 563px;
		height: 616px;
		background: rgba(0,0,0,0.5);
		padding: 25px;
		text-align: center;
	 } 


	 .line1 {
		 position:absolute;
		 top: 350px;
		 left: 350px;
		 width: 613px;
		 
	 }
	 .line2 {
		position:absolute;
		 top: 460px;
		 left: 520px;
		 
	 }
     .face {
		 
		 position:absolute;
		 top: 400px;
		 left: 525px;
		 width: 276px;
         height: 36px;
		 
	 }
	 
	 .face ul li {
		 width: 276px;
         height: 36px;
		 
		 
	 }
	 .face li:hover  {
	-webkit-box-shadow: 0px 0px 4px 7px rgba(73,132,172,0.79);
-moz-box-shadow: 0px 0px 4px 7px rgba(73,132,172,0.79);
box-shadow: 0px 0px 4px 7px rgba(73,132,172,0.79);
		
	}
	 
	 
	 
	 .ou {
		 
		position:absolute;
		 top: 465px;
		 left: 647px; 
		 color: #ffffff;
		 
	 }
ul, li {
        margin:0;
        padding:0;
        list-style-type:none; 
        line-height:36px;

	
    }
	

    #menu {
        display:block;
        position:absolute;
        top: 0px;
		width: 1215px;
        z-index: 2;		
        background: #07508e;
		line-height: 36px;
		font-size: 14px;
 
    }

	
	
    #menu li {
        display:inline-block;
        height:36px;
        position:relative;
	    left: 500px;

    }
	
	#menu li a{
		display:block;
		 color: #9BE8D9;
		 font-weight: bold;
		 text-decoration: none;
		 padding-left: 7px;
		 padding-right: 7px;
		 margin-left: 0px;
		 margin-right: 0px;
	line-height: 36px;
		
	 }
	 
	#menu li a:hover {
     background: #4eabda;
	color: #ffffff;
	}
     
	
	 
    #menu-vert {
        display:block;
        position:absolute;
		top: 500px;
		left: 500px;
		z-index: 3;
	  }
	  
	  .n1 {
		width: 284px;
        height: 35px;
        background: #000000;
        color: #ffffff;
        margin: 10px;		
		padding-left: 20px;
		border-bottom: 1px solid grey;
	
	  }
	  
	#menu-vert li:hover  {
		background: #1b5288;
		-webkit-box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);
-moz-box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);
box-shadow: 0px 0px 4px 3px rgba(73,132,172,0.79);
	}
	
   .gal	{
	    position:absolute;
        top: 760px;
        left: 500px;
        color: #ffffff;
	   
   }
	.Account {
		display: block;
        position: absolute;
		top: 800px;
		left: 570px;
        text-align: center;
        color: #ffffff;
       /*margin: 0px;		
		padding-left: 0px;*/
	}	  
	
	.CMA {
		
		position:absolute;
        top: 0px;
        left: 0px;
		width: 145px;
         height: 36px;
		padding-left: 5px;
        color: #ffffff;
		text-decoration: none;
		
	}
	

	 
	 .Account ul li {
		 width: 150px;
         height: 36px;
		 
		 
	 }
	 .Account :hover  {
	-webkit-box-shadow: 0px 0px 4px 7px rgba(73,132,172,0.79);
-moz-box-shadow: 0px 0px 4px 7px rgba(73,132,172,0.79);
box-shadow: 0px 0px 4px 7px rgba(73,132,172,0.79);
		
	}
	
	
	
	.bottom {
		position:absolute;
		top: 850px;
        left: 450px;
		width: 425px;
        height: 30px;
		color: #ffffff;
		text-align: center;
		
	}
	

	 

  